html,body{
    font-family: "Microsoft YaHei", Arial;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    width: 100%;
}
/*-----头部----*/
#header{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 10;
    opacity: 0.9;
}
.header{
    width: 100%;
    height: 100%;
    min-width: 1300px;
    -webkit-box-shadow:0 10px 10px -1px #E7EBF3;
    -moz-box-shadow:0 10px  10px -1px #E7EBF3;
    box-shadow:0 10px 10px -1px #E7EBF3; 
}
ul{
    margin: 0 auto;
    padding: 0;
    height: 85px;
    line-height: 85px;
    width: 1300px;
}
ul li{
    list-style-type:none;
    height: 100%;
    float: left;
    text-align: center;
    width: 140px;
    color: #AAAEB2;
}
.ul-right:hover .li{
    -webkit-box-shadow:0 0 0px 0px #FFF;
    -moz-box-shadow:0 0  0px 0px #FFF;
    box-shadow:0 0 0px 0px #FFF;
    padding-bottom: 0px;
}
.ul-right .li:hover{
    -webkit-box-shadow:0 -10px 10px 6px #ECF0F7;
    -moz-box-shadow:0 -10px  10px 6px #ECF0F7;
    box-shadow:0 -10px 10px 6px #ECF0F7;
    padding-bottom: 6px;
    cursor:pointer;
}
.nav li img{
    max-height: 100%;
    max-width: 100%;
    padding: 10px 10px 0 10px;
    height: 65px;
}
.index-li-light{
    -webkit-box-shadow:0 -10px 10px 6px #ECF0F7;
    -moz-box-shadow:0 -10px  10px 6px #ECF0F7;
    box-shadow:0 -10px 10px 6px #ECF0F7;
    padding-bottom: 6px;
}
.li-green{
    border-top: solid 2px #5DD5A4;
}
.li-orange{
    border-top: solid 2px #FF7758;
}
.li-purple{
    border-top: solid 2px #CD83FF;
}
.li-yellow{
    border-top: solid 2px #FFCD00;
}
.li-blue{
    border-top: solid 2px #03A9F4;
}
.section{
    width: 100%;
    min-width: 1300px;
}
.section_center{
    width: 1300px;
    height: 100%;
    background-color: 
}