@font-face {font-family: "iconfont";
  src: url('font/iconfont.eot?t=1505196095677'); /* IE9*/
  src: url('font/iconfont.eot?t=1505196095677#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/iconfont.ttf?t=1505196095677') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('font/iconfont.svg?t=1505196095677#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinliao:before { content: "\e624"; }

.icon-jiuping:before { content: "\e625"; }

.icon-pisa:before { content: "\e626"; }

.icon-xuegao:before { content: "\e627"; }

.icon-pijiu:before { content: "\e628"; }

.icon-guozhi:before { content: "\e629"; }

.icon-yingtaozhi:before { content: "\e62b"; }

.icon-kafei:before { content: "\e62c"; }

.icon-bingqilin:before { content: "\e62e"; }

.icon-qishui:before { content: "\e630"; }

.icon-xiyouzhi:before { content: "\e631"; }

.icon-tiantong:before { content: "\e632"; }

.icon-binggun:before { content: "\e633"; }

.icon-jiandan:before { content: "\e634"; }

.icon-bangbangtang:before { content: "\e635"; }

.icon-maqialong:before { content: "\e637"; }

.icon-dangao:before { content: "\e638"; }

.icon-tiantianquan:before { content: "\e63a"; }

.icon-mianbao:before { content: "\e63b"; }
